.button {
  width: 100px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &:hover {
    background-color: aquamarine;
  }

  &:active {
    background-color: mediumaquamarine;
  }
}
