.body {
  width: 100%;
  height: calc(100vh - 75px);
  background-color: mistyrose;
}

.content {
  max-width: 1200px;
  width: 90%;
  min-width: 600px;
  height: 100%;
  //background-color: aliceblue;
  margin: 0 auto;
  padding: 10px 0;

  //display: flex;
  //flex-flow: row wrap;
  //justify-content: flex-end;
  //align-items: center;
  //align-content: center;
}

.buttonContainer {
  margin-top: 10px;
}

.myButton {
  background-color: #2f6627;
  border:1px solid #000000;
  cursor: pointer;
  color: #ffffff;
  font-size:18px;
  text-decoration:none;
  margin: 10px 0;
  width: 200px;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.myButton:hover {
  background-color: #54b246;
}
.myButton:active {
  position:relative;
  top:1px;
}
